
#map {
  width: 90%;
  max-width: 1100px;
  height: 65vh;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 14px rgba(0,0,0,0.15);
  margin-bottom: 1rem;
}

#map svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#map circle,
.legend .swatch {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals));
}

#map circle {
  fill: var(--color);
  fill-opacity: .6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
}

/* Centered legend */
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: .5rem;
  font-size: .9rem;
}

.legend-label {
  font-weight: 700;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.swatch {
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background: var(--color);
  border: 1px solid #4442;
}
